<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalogo</title>

    <!-- Bootstrap Core CSS -->
    <link href="fuentes/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="fuentes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- propios CSS -->
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-custom" style="padding: 10px;">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Ventas</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="compras.html">Compras</a>
                </li>
                <li class="page-scroll">
                    <a href="catalogo.html">Catalogo</a>
                </li>
                <li class="page-scroll active">
                    <a href="venta.html">Ventas</a>
                </li>
                <li class="page-scroll">
                    <a href="sucursales.html">Sucursales</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Cerrar sesión</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    </nav>
    <div class="container" ng-app="Video_Juegos" ng-controller="ventaController">
    <header>
            <h1 class="inline padding-sides">Games4U </h1><small> Ventas</small>
        </header>
        <table class="table">
            <tr>
                <th>Nombre del Videojuego</th>
                <th>Monto</th>
                <th>Fecha de Venta</th>
            </tr>
            <tr ng-repeat="x in ventas" ng-click="seleccionar(this.x)" class="{{(indiceSeleccionado == x.idventa) ? 'selected' : ''}}">
                <td>{{x.videojuego}}</td>
                <td>{{x.monto}}</td>
                <td>{{x.fecha}}</td>
            </tr>
        </table>
        </div>
    
    <!-- scripts -->

    <!-- jQuery -->
    <script src="fuentes/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="fuentes/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>



    <!-- propios -->
    <script src="fuentes/angularjs/angular.min.js"></script>
    <script src="JavaScripts/venta.js"></script>
        
</body>
</html>